---

---

<div
	class="fixed bg-mocha-mantle text-mocha-text rounded-md shadow-lg p-2 md:p-3 max-w-xl w-fit backdrop-blur-md border border-mocha-base top-2 left-0 right-0 mx-auto mb-2 flex items-center justify-center gap-2 md:gap-4 z-[1000] animate-fade-in"
>
	<a
		class="text-mocha-lavender hover:text-mocha-blue p-2 md:p-0 hover:scale-110 transition-all duration-300"
		href="/"
		title="Home"
	>
		<span data-lucide="home" class="w-5 h-5 md:w-6 md:h-6"></span>
	</a>
	<a
		class="text-mocha-lavender hover:text-mocha-blue p-2 md:p-0 hover:scale-110 transition-all duration-300"
		href="/projects"
		title="Projects"
	>
		<span data-lucide="code" class="w-5 h-5 md:w-6 md:h-6"></span>
	</a>
	<a
		class="text-mocha-lavender hover:text-mocha-blue p-2 md:p-0 hover:scale-110 transition-all duration-300"
		href="/contributors"
		title="Contributors"
	>
		<span data-lucide="users" class="w-5 h-5 md:w-6 md:h-6"></span>
	</a>
	<a
		class="text-mocha-lavender hover:text-mocha-blue p-2 md:p-0 hover:scale-110 transition-all duration-300"
		href="/supporters"
		title="Supporters"
	>
		<span data-lucide="heart" class="w-5 h-5 md:w-6 md:h-6"></span>
	</a>
	<a
		class="text-mocha-lavender hover:text-mocha-blue p-2 md:p-0 hover:scale-110 transition-all duration-300"
		href="https://docs.night-x.com"
		title="Docs"
	>
		<span data-lucide="book" class="w-5 h-5 md:w-6 md:h-6"></span>
	</a>
	<a
		class="text-mocha-lavender hover:text-mocha-blue p-2 md:p-0 hover:scale-110 transition-all duration-300"
		href="https://uptime.night-x.com"
		title="Uptime"
	>
		<span data-lucide="activity" class="w-5 h-5 md:w-6 md:h-6"></span>
	</a>
</div>
